body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.name{
    color: orangered;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
h1{
    font-weight: 700;
    font-size: 50px;
}
.button{
    text-decoration: none;
    border: 10px 20px;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, orange, red);
    color: white;
    font-weight: 700;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.middle-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 50px;
}